@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;    
    margin: 0;
    font-family: Monospace;
    overflow: hidden;
}


.nav {

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;

}

#scoreBoard {
    margin-top: 100px;
}

.levelselect {

    -webkit-column-count:2; 
    -moz-column-count:2;
    column-count:2;
    column-gap:40px;
    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-fill: balance;

    position:relative;
    top: 90px;
    background: black;
    width: 1300px;
    display: block;
    margin: 0 auto;
    clear: both;
}


#selectBlockScreen {
    background-color: rgba(0,0,0,0.7);
}

#endScreen {
    background-color: rgba(0,0,0,0.7);
}

h1, p, a {
    position: relative;  
    z-index: 1; 
    font: 72px "Press Start 2P", cursive;
    color: white;
    text-align: center;
    margin: 0;
}


.instructions.stars {  
    padding-top: 10px;  
    font-size: 50px;
}


#levelModeMenu {
    overflow-y: scroll;
}

#menu{
    overflow-y: scroll;
}

#highscore {
    overflow-y: scroll;
}

h1 {margin-top: 5%;}


#hint {
    font-size: 24px;
    color: white;
    text-align: left;
    padding: 10px;
    z-index: 2;
    display: inline-block;
    position: absolute;
    background-color: rgba(255,0,0,0.5);
}

#mute {
    font-size: 24px;
    color: white;
    text-align: left;
    padding: 10px;
    z-index: 2;
    display: inline-block;
    top: 115px;
    position: absolute;
    background-color: rgba(255,0,0,0.5);
}

#center_tooltip {
    font: 30px "Press Start 2P", cursive; 
    position: absolute;
    color: yellow;
    z-index: 2;
    text-align: center;
    display: block;
    top: 50%;
    width: 100%;
}

.instructions.center {
    font-size: 30px;
    top: 25%;
    width: 100%;
    line-height: 55px;
}

#instructions {
    overflow-y: scroll;
}

.instructions {
    font-size: 20px;
    display: block;
    top: 10%;   
    left: 0; 
    text-decoration: none;
    margin: 0 auto; 
    width: 1100px;
    line-height: 35px;
}

.highscoreEntry {
    font-size: 25px;
    display: block;
    top: 10%;   
    left: 0; 
    text-decoration: none;
    margin: 0 auto; 
    width: 1100px;
    line-height: 35px;
}

.leftShift {
    left: -2em;
}

.menuItem {
    width: 320px;
    font-size: 24px;
    display: block;
    top: 23%;   
    left: 0; 
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 12px;
    text-decoration: none;
    margin: 0 auto;     
    
    overflow: auto; max-height: 4000px;     
}

.locked {
    width: 320px;
    font-size: 24px;
    display: block;
    top: 30%;   
    left: 0; 
    padding: 10px;
    text-decoration: none;
    margin: 0 auto; 
    overflow: auto; max-height: 4000px;    

    color: red;
    border-top: 5px solid red;
    border-bottom: 5px solid red;    
    cursor:default;
}

.centerPadding {
    padding-right: 5em;
    padding-left: 5em;
}

a.link {
    font-size: 20px;
    text-decoration: none;
    color: white;  
    border-bottom: 1px solid white;    
}

a.link:hover {
    color: yellow; 
    border-bottom-color: yellow; 
}

a.menuItem:hover
{ 
    color: yellow;
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;    
}

a#restart {width: 165px; top: 20%}


a#start{top: 100%;}

#oldie { background-color: #ddd !important }

.info {
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    position: absolute;        
    font-size: 200%;
}

.backButton {
    margin-top: 50px;
    margin-bottom: 50px;
}


#levelText {
    top: 20px;
    right: 20px;
    width: 100%;
    text-align: right;
    position: absolute;        
    font: 30px "Press Start 2P", cursive; 
    color: white;
}

#helperText {
    font-size: 20px;
    padding: 0;
}

p#loading_text {
    border: none;
    font-size: 30px;
    top: 40%;
    padding-left: 200px;
}
